form{
    margin:auto;
	width: 626px;
	height: 525px;
	border: 1px;
	border-radius: 10px;
	box-shadow: 5px 4px 13px #0c4ddf;
	text-align: center;
	background-color: #CCFFFF;
	border-collapse: collapse;
	background-repeat: no-repeat;
	background-position: bottom;
    background-size:97%;
    text-align: left;
    padding: 20px;
}
body{
    background-color: grey; 
}
tr{
    padding-left: 30px;
}
div{
    margin-left: 100px;
    margin-top: 50px;
}
#button{
    margin-left: 300px;
}
#header{
    background-color: bisque;
    width: 626px;
    margin-top: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
body{
    background-color: whitesmoke;
}