{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>DETAIL PAGE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
</head>
<body>
    
    <form action="{% url 'result' question.id %}" method="post">
    <h1 align='center' id='header'>{{question.question_text}}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div>
                    <input type="radio" name="choice" id="{{choice.id}}" value="{{ choice.id}}"> {{ choice.choice_text}}            
            </div>
        {% endfor %}
        <div id='button'>
            <input type="submit" value='Vote'>
        </div>
    </form>
</body>
</html>
